@font-face {
    font-family: 'San Francisco Pro Display Regular';
    src: 
    url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff') format('woff'),
    url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf') format('ttf'),
    url('../../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'San Francisco Pro Display Medium';
    src: 
    url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff') format('woff'),
    url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf') format('ttf'),
    url('../../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'San Francisco Pro Display Semibold';
    src: 
    url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff') format('woff'),
    url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf') format('ttf'),
    url('../../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    }
        
@font-face {
    font-family: 'San Francisco Pro Display Bold';
    src: 
    url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff') format('woff'),
    url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf') format('ttf'),
    url('../../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;
    }