@import 'vars';
.search{
  &__input{
    margin-top: 20px ;
    width: 335px;
    height: 56px;
    padding-left: 20px;
    background: $dark-blue;
    border-radius: 2px;
    outline: none;
    border: none;
    color:white;
    font-size: 16px;
    line-height: 19px;
    &::placeholder{
      color: $gray;
    }
  }

  &__inner{
    text-align: center;
  }

  &__result{
    width:335px;
    max-height: 200px;
    background: $search_result;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    z-index: 100;
    margin: 0 auto; 
    left: 0;
    right: 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

  .result{
     &__item{
      list-style-type: none;
      padding: 20px;
      &:hover{
        background-color: rgba(55, 60, 80, 0.5);
      }
    }

    &__link{
      text-decoration: none;
      color: #FFFFFF;
    }

  }
  
  @media(max-width:320px){
    .search__input, .search__result{
      max-width:280px;
    }
  }
  
  @media (min-width:768px){
    .search__inner{
      margin-top: 60px;
    }
  
    .search__input, .search__result{
      width: 510px;
    }
  }
  
